<mat-card>
  <mat-form-field appearacne="fill">
    <mat-label>URL Link</mat-label>
    <input
      (keyup.enter)="createPhotos()"
      placeholder="https://example.com"
      matInput
      type="text"
      [(ngModel)]="url"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label-clear="Clear"
      (click)="url = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearacne="fill">
    <mat-label>Scroll to the selected element (optional)</mat-label>
    <input
      (keyup.enter)="createPhotos()"
      placeholder="#footer-id"
      matInput
      type="text"
      [(ngModel)]="elementSelector"
    />
    <button
      matSuffix
      mat-icon-button
      aria-label-clear="Clear"
      (click)="url = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div>
    <button (click)="createPhotos()" mat-raised-button color="primary">
      Shoot Photos
    </button>
    <mat-progress-spinner
      *ngIf="photoShootInProgress"
      color="accent"
      mode="indeterminate"
      diameter="30"
    >
    </mat-progress-spinner>
  </div>
</mat-card>
