@use "../../../responsive.scss" as responsive;
:host {
  display: flex;
  justify-content: center;
  margin: 100px 100px;
  @include responsive.for-size(XSmall) {
    margin: 20px 0px;
  }
}

mat-card-header {
  width: 80%;
}
img {
  display: block;
  min-width: 30%;
  max-width: 90%;
  max-height: 90vh;
  width: auto;
  height: auto;
  margin: {
    right: 0px;
    left: 0px;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: {
    right: 0px;
    left: 0px;
    bottom: 40px;
    top: 40px;
  }
}

mat-card-actions {
  display: flex;
  flex-direction: column;
  width: 80%;
}
a {
  width: 100%;
}
button {
  width: 100%;
}
mat-card {
  height: 100%;
  width: 100%;
}
