<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        class="nav-item"
        mat-list-item
        [href]="hashTag + singleDeviceInfo.fileName.slice(0, -4)"
        *ngFor="let singleDeviceInfo of deviceInfo"
        >{{ singleDeviceInfo.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div id="top"></div>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Robot Photographer</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <app-url-input (newPhotoShoot)="getNewPhotos()"> </app-url-input>
    <app-photo-container
      [id]="singleDeviceInfo.fileName.slice(0, -4)"
      *ngFor="let singleDeviceInfo of deviceInfo"
      [deviceInfo]="singleDeviceInfo"
    >
    </app-photo-container>
  </mat-sidenav-content>
</mat-sidenav-container>
